{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
    <h3>Изменить E-mail </h3>
    {{ user.firstName~' '~user.lastName~' ('~user.email~')' }}
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Изменить</button>
            <a  class="btn pull-right" href="{{ path('admin_paradox_user_view', { id: user.id }) }}"><i class="fa fa-arrow-left"></i> Назад</a>
        </div>
        {{ form_end(form) }}
{% endblock content %}




