{% extends 'AppBundle::layout_m_clear.html.twig' %}
{% form_theme form 'AppBundle::form_m_clear.html.twig' %}

{% block title %}Смена пароля | {{ 'project.name'|trans }}{% endblock title %}

{% block content %}
<div class="table-form login-form" style="display:block;z-index:100">
    <div class="blue-hr"></div>
    <div class="form-wrap">
        <div class="caption">Смена пароля:</div>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="post">
            <div class="hr"></div>
            <table class="fields-table">
                {{ form_widget(form) }}
            </table>
            <div class="hr"></div>
            <button class="btn-blue-3" type="submit">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
        </form>
    </div>
</div>
{% endblock content %}
